<!-- Start Header area -->
<header class="main-header header-style1 header-layout5" id="sticker">
  <div class="header-top-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-2 col-md-2 col-sm-2">
                  <div class="logo-area">
                      <a href="index.html"><img src="img/logo-white.png" alt="logo"></a>
                  </div>
              </div>
              <div class="col-lg-9 col-md-9 col-sm-10">
                  <div class="main-menu">
                      <nav>
                          <ul>

                          </ul>
                      </nav>
                  </div>
              </div>
                  <div class="header-top-right">
                      <ul>
                          <li>
                              <a href="#" class="cart-area floatright">
                                <button class="btn btn-secondary">
                                  Trainers login
                                </button>
                              </a>
                          </li>
                      </ul>
                  </div>
          </div>
      </div>
  </div>
</header>
<!-- End Header area -->
