
<app-header></app-header>
<!-- Start slider area  -->
<carousel [pauseOnFocus]="true">
  <slide>
    <img src="https://radiustheme.com/demo/html/gymedge/multi-page/img/slides/slide2.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="text-uppercase display-2 title-bar"> Loren <span> inpusm</span> &amp; amet<span> dolor</span> </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button type="button" class="btn btn-carousel">Join the wait list!</button>
    </div>
  </slide>
  <slide>
    <img src="https://radiustheme.com/demo/html/gymedge/multi-page/img/slides/slide2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="text-uppercase display-2 title-bar"> Loren <span> inpusm</span> &amp; amet<span> dolor</span> </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button type="button" class="btn btn-carousel">Join the wait list!</button>
    </div>
  </slide>
  <slide>
    <img src="https://radiustheme.com/demo/html/gymedge/multi-page/img/slides/slide2.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h1 class="text-uppercase display-2 title-bar"> Loren <span> inpusm</span> &amp; amet<span> dolor</span> </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button type="button" class="btn btn-carousel">Join the wait list!</button>
    </div>
  </slide>
</carousel>
<!-- End slider area-->
<app-footer></app-footer>
